= nested_form_for @list do |f|
  -if @list.errors.any?
    #error_exlistation
      %h2= "#{pluralize(@list.errors.count, "error")} prohibited this list from being saved:"
      %ul
        - @list.errors.full_messages.each do |msg|
          %li= msg

  .inputs
    = f.label :description, "Description"
    = f.text_field :description
    %br
    = f.fields_for :steps do |step_form|
      = step_form.label :objective, "Objective"
      = step_form.text_field :objective
      = step_form.label :uri, "URI"
      = step_form.text_field :uri
      = step_form.link_to_remove "Remove"

    = f.link_to_add "Add step", :steps

  .actions
    = f.submit 'Save'
