%h1= @plan.description

%p#notice= notice

= link_to 'Edit', edit_plan_path(@plan)
\|
= link_to 'Delete', @plan, :confirm => 'Are you sure?', :method => :delete
\|
= link_to 'Back', plans_path

%ol
  - @plan.steps.each do |step|
    %li= link_to step.objective, step.uri
